- name: Update Debian
  ansible.builtin.apt:
    update_cache: true
    upgrade: dist
  when: ansible_os_family == "Debian"

- name: Update RedHat
  ansible.builtin.dnf:
    name: "*"
    state: present
  when: ansible_os_family == "RedHat"

- name: Paquetes base
  ansible.builtin.package:
    name: "{{ base_packages }}"
    state: present

- name: Set timezone
  community.general.timezone:
    name: "{{ base_system_timezone }}"
