---
- name: Incluir tareas de instalación de Docker para el SO correspondiente
  ansible.builtin.include_tasks: "install_{{ ansible_facts['os_family'] | lower }}.yml"
  when: ansible_facts['os_family'] in ['Debian', 'RedHat']

- name: Verificar la instalación de Docker
  ansible.builtin.command: docker --version
  register: docker_version
  changed_when: false
  failed_when: docker_version.rc != 0

- name: Almacenar versión de Docker como fact
  ansible.builtin.set_fact:
    docker_installed_version: "{{ docker_version.stdout }}"

- name: Verificar la instalación de Docker Compose
  ansible.builtin.command: docker compose version
  register: docker_compose_version
  changed_when: false
  failed_when: false

- name: Almacenar versión de Docker Compose como fact
  ansible.builtin.set_fact:
    installed_docker_compose_version: "{{ docker_compose_version.stdout }}"
  when: docker_compose_version.rc == 0