- name: Check if swarm mode is active
  ansible.builtin.command: docker info
  register: swarm_docker_info
  changed_when: false

- name: Initialize swarm
  ansible.builtin.command: "docker swarm init --advertise-addr {{ ansible_default_ipv4.address }}"
  when: "'Swarm: inactive' in swarm_docker_info.stdout"
  changed_when: "'Swarm: inactive' in swarm_docker_info.stdout"

- name: Get swarm manager join token
  ansible.builtin.command: docker swarm join-token manager -q
  register: swarm_manager_token
  when: "'Swarm: inactive' in swarm_docker_info.stdout"
  changed_when: false

- name: Get swarm worker join token
  ansible.builtin.command: docker swarm join-token worker -q
  register: swarm_worker_token
  when: "'Swarm: inactive' in swarm_docker_info.stdout"
  changed_when: false

- name: Display swarm join commands
  ansible.builtin.debug:
    msg:
      - "Manager join command: docker swarm join --token {{ swarm_manager_token.stdout }} {{ ansible_default_ipv4.address }}:2377"
      - "Worker join command: docker swarm join --token {{ swarm_worker_token.stdout }} {{ ansible_default_ipv4.address }}:2377"
  when: swarm_manager_token.stdout is defined

- name: Create overlay network
  community.docker.docker_network:
    name: DOCKER-SWARM
    driver: overlay
    attachable: true
