---
- name: Cargar variables específicas del SO
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['os_family'] }}.yml"
        - "default.yml"
      skip: true

- name: Actualizar caché de APT e instalar paquetes base
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: yes
  when: ansible_facts['os_family'] == "Debian"

- name: Asegurar que Python 3 y Venv estén instalados
  ansible.builtin.package:
    name: "{{ python_packages }}"
    state: present