---
- name: Cargar variables específicas del SO
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['os_family'] }}.yml"
        - "default.yml"
      skip: true

- name: Actualizar caché de APT e instalar paquetes base
  ansible.builtin.apt:
    name: "{{ common_packages }}"
    state: present
    update_cache: true
  when: ansible_facts['os_family'] == "Debian"

- name: Asegurar que Python 3 y Venv estén instalados
  ansible.builtin.package:
    name: "{{ common_python_packages }}"
    state: present

- name: Obtener versión de Git
  ansible.builtin.command: git --version
  register: git_version_output
  changed_when: false
  failed_when: false

- name: Debug Git version output
  ansible.builtin.debug:
    var: git_version_output

- name: Establecer fact para la versión de Git
  ansible.builtin.set_fact:
    installed_git_version: "{{ git_version_output.stdout }}"
  when: git_version_output.rc is defined and git_version_output.rc == 0