---
- name: Cargar variables específicas del SO (si existen)
  ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - files:
        - "{{ ansible_facts['os_family'] }}.yml"
        - "default.yml"
      skip: true

- name: Actualizar caché y sistema operativo (Debian/Ubuntu)
  ansible.builtin.apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes
    clean: yes
  when: ansible_facts['os_family'] == "Debian"

- name: Instalar paquetes base (Desde defaults/main.yml)
  ansible.builtin.package:
    name: "{{ common_packages + python_packages }}"
    state: present
  retries: 3
  delay: 5

- name: Verificar instalación de Python y Venv
  ansible.builtin.command: python3 -m venv --help
  register: venv_check
  changed_when: false
  failed_when: venv_check.rc != 0

- name: Verificar versión de Git
  ansible.builtin.command: git --version
  register: git_version
  changed_when: false

- name: Almacenar versión de Git como fact
  ansible.builtin.set_fact:
    installed_git_version: "{{ git_version.stdout }}"